[Unit]
Description=Reload mmp-go service
Documentation=https://github.com/Qv2ray/mmp-go/
After=mmp-go.service

[Service]
Type=oneshot
ExecStart=/bin/systemctl reload mmp-go.service
