[Unit]
Description=mmp-go Shadowsocks Multiplexer
Documentation=https://github.com/Qv2ray/mmp-go/
After=network.target nss-lookup.target
Wants=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/mmp-go.pid
PrivateDevices=yes
LimitNOFILE=102400

ExecStart=/usr/bin/mmp-go -s start -conf /etc/mmp-go/config.json -log /etc/mmp-go/mmp-go.log
ExecReload=/usr/bin/mmp-go -s reload
KillMode=mixed

[Install]
WantedBy=multi-user.target
