[Unit]
Description=mmp-go Shadowsocks Multiplexer
Documentation=https://github.com/Qv2ray/mmp-go/
After=network.target nss-lookup.target
Wants=network.target nss-lookup.target

[Service]
Type=simple
User=nobody
Restart=always
LimitNOFILE=102400
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
ExecStart=/usr/bin/mmp-go -conf /etc/mmp-go/config.json
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
