[Unit]
Description=mmp-go Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=always
LimitNOFILE=102400
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
ExecStart=/usr/bin/mmp-go -conf /etc/mmp-go/config.conf

[Install]
WantedBy=multi-user.target